* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.appClass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weatherCard {
    border: 2px solid black;
    height: 65%;
    width: 28%;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divCard {
    border: 2px solid red;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box {
    border: 2px solid green;
    height: 70%;
    width: 25%;
    border-radius: 16px;
    
    
}

.humidity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wind {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.feelsLike {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}